.alert {

    padding: 1rem 3rem;
    border-radius: 0.5rem;
    color: #fff!important;
    font-weight: 500;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    &-dangerous {
        background-color: #DF2E38;
        position: absolute;
        right: 10%;
        top: 3rem;
        animation: alert_animation 0.08s linear;
    }
}

@keyframes alert_animation {
    0% {
        right: 0%;
        top: 3rem;
    }

    100% {
        right: 10%;
        top: 3rem;
    }
}